<!-- FAQ -->
<section class="faq-section">
    <div class="faq-container">
        <h2 class="faq-title">{{ .Params.faq_h1}}</h2>


        <div class="faq-list">
            <!-- FAQ item -->
            <details class="faq-item">
                <summary class="faq-question">
                    {{ .Params.faq_item_1_1 }}
                    <span class="faq-icon">+</span>
                </summary>
                <p class="faq-answer">{{ .Params.faq_item_1_2 }}</p>
            </details>

            <details class="faq-item">
                <summary class="faq-question">
                    {{ .Params.faq_item_2_1 }}
                    <span class="faq-icon">+</span>
                </summary>
                <p class="faq-answer">{{ .Params.faq_item_2_2 }}</p>
            </details>

            <details class="faq-item">
                <summary class="faq-question">
                    {{ .Params.faq_item_3_1 }}
                    <span class="faq-icon">+</span>
                </summary>
                <p class="faq-answer">{{ .Params.faq_item_3_2 }}</p>
            </details>

            <details class="faq-item">
                <summary class="faq-question">
                    {{ .Params.faq_item_4_1 }}
                    <span class="faq-icon">+</span>
                </summary>
                <p class="faq-answer">{{ .Params.faq_item_4_2 }}</p>
            </details>

            <details class="faq-item">
                <summary class="faq-question">
                    {{ .Params.faq_item_5_1 }}
                    <span class="faq-icon">+</span>
                </summary>
                <p class="faq-answer">{{ .Params.faq_item_5_2 }}</p>
            </details>

            <details class="faq-item">
                <summary class="faq-question">
                    {{ .Params.faq_item_6_1 }}
                    <span class="faq-icon">+</span>
                </summary>
                <p class="faq-answer">{{ .Params.faq_item_6_2 }}</p>
            </details>
        </div>
    </div>
</section>