<header class="main-header">
    <div class="header-banner">
        <div class="banner-center-text">
            <span>{{ .Site.Home.Params.banner_text }}</span>
            <a href="#">{{ .Site.Home.Params.banner_cta }}</a>
        </div>

        <div class="banner-socials">
            <a href="#"><i class="bi bi-facebook"></i></a>
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-linkedin"></i></a>
            <a href="#"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
    <nav class="navigation-bar">
        <div class="nav-inner">
            <a href="{{ .Site.Home.Permalink }}" class="nav-logo">
                <img src='{{ "/images/logo.svg" | relURL}}' alt="SHARMONY">
            </a>
            <!-- Mobile Hamburger -->
            <button class="nav-toggle" aria-label="Open Menu">
                <i class="bi bi-list"></i>
            </button>


            <ul class="nav-menu-pill">
                {{ $currentLang := .Site.Language.Lang }}
                {{ $menuData := index .Site.Data $currentLang "menu" }}

                {{ range .Site.Menus.main }}
                    {{ $label := .Name }} {{/* Fallback to the name in config.toml */}}
                    {{ $identifier := .Identifier }} {{/* Fallback to the name in config.toml */}}

                    {{/* Look for a match in our Decap-generated data file */}}
                    {{ if $menuData }}
                        {{ range $menuData.items }}
                            {{ if eq .id $identifier }}
                                {{ $label = .text }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                    <li>
                        <a href='{{ .URL | relLangURL }}' class='{{ if $.IsMenuCurrent "main" . }}active{{ end }}'>
                        {{ $label | safeHTML }}
                        </a>
                    </li>
                {{ end }}
            </ul>
            <div class="nav-actions">
                <div class="search-bar">
                    <input type="text" placeholder="Search">
                    <i class="bi bi-search"></i>
                </div>
                <a href="/login" class="btn-login">
                    Log-in <i class="bi bi-person-circle"></i>
                </a>
            </div>
        </div>
    </nav>

    <script>
        document.querySelector(".nav-toggle").addEventListener("click", () => {
            document.querySelector(".nav-menu-pill").classList.toggle("show");
        });
    </script>

</header>